#container {
    width: 850px;
    margin: 0 auto;
}

#panel h2,#basket h2 {
   color: rgb(86, 40, 115);

}


#header {
    width: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(86, 40, 115);
    shadow: 100;
}

#panel {
    float: left;
    padding: 15px;
    background-color: rgb(247, 247, 247);
    width: 150;
    height: 100%;
}


#basket {
    float: right;
    padding: 15PX;
    width: 600px;
    background-color: rgb(247, 247, 247);
    height: 100%;
}

